<a href="https://colab.research.google.com/github/slz520f/github-basic-kadai/blob/main/master_SQL_foundamental.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# データベースの概要を理解しよう

- **データベースの概要と重要性**
  - データベースはWeb開発において不可欠であり、データを一元管理する重要な役割を担う。
  - データベースにはリレーショナル型、階層型、ネットワーク型の3種類が存在し、リレーショナル型がWeb開発で広く採用されている。

- **リレーショナル型データベース**
  - テーブル間の関連性に基づくデータベースで、Excelの表のような形式でデータを管理する。
  - MySQL、PostgreSQL、SQLite、Oracle、Microsoft SQL Serverなどがリレーショナル型データベースの例。

- **データベースを扱う職種**
  - Webエンジニア、機械学習エンジニア、データサイエンティスト、組み込み系エンジニアなどがデータベースを日常的に使用する。

> データベースは、Web開発でとても大切なものです。これは、大量のデータを管理し、必要な情報をすぐに取り出せるようにするシステムのこと。特にリレーショナル型データベースは、Webアプリでよく使われていて、MySQLやPostgreSQLなどがあります。データベースを使う仕事は色々あって、Webエンジニアからデータサイエンティストまで、多くの人がデータベースに触れる機会があります。



### 例文

```python
# データベースの接続と基本的な操作を行うPythonコードの例

# MySQLデータベースへ接続するためのライブラリをインポート
import mysql.connector

# データベースに接続
db = mysql.connector.connect(
    host="localhost",
    user="your_username",
    passwd="your_password",
    database="your_database"
)

# カーソルを作成
cursor = db.cursor()

# データベースの一覧を取得して表示
cursor.execute("SHOW DATABASES")
for db in cursor:
    print(db)

# テーブルの一覧を取得して表示
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

# データベース接続を閉じる
db.close()
```


> このコードは、Pythonを使ってMySQLデータベースに接続し、データベースとテーブルの一覧を取得する基本的な流れを示しています。実際には、`your_username`、`your_password`、`your_database`を実際の環境に合わせて変更する必要があります。また、MySQL以外のリレーショナル型データベースを使用する場合は、適切なドライバーをインストールし、接続情報を変更してください。

# SQLの概要を理解しよう

- **SQLの概要と基本コマンド**
  - SQL（Structured Query Language）は、データベースを操作するための言語。主な操作にはデータの検索、追加、更新、削除が含まれる。
  - SQLの特徴は、英語に似た構文が決まっており、データベース言語であること。ISOで標準化されている。
  - 命令方法には対話型と埋め込み型の二つが存在。

- **SQLとMySQLの違い**
  - MySQLはデータベースそのものを指し、SQLはデータベースを操作するための言語である。
  - SQLでよく使用される用語にはテーブル、カラム、レコード、フィールドがある。

- **SQL文の命令の種類**
  - DDL（Data Definition Language）は、データベースやテーブルの作成・削除などの定義を行う。
  - DML（Data Manipulation Language）は、データの追加、更新、削除などの操作を行う。
  - DCL（Data Control Language）は、データベースの権限設定を行う。

>SQLはデータベースをいじるための特別な言語です。データを探したり、新しく入れたり、変更したり、消したりすることができます。SQLは決まった書き方があって、ちゃんとした英語のように使います。MySQLはデータベースの一種で、SQLはそれを動かすためのコマンドです。SQLにはデータベースを作る命令、データをいじる命令、権限を管理する命令があります。この言語を覚えると、Web開発など色んなところで役に立ちます。

### 例文

```python
# SQLコマンドの基本例

# テーブル作成
create_table_sql = """
CREATE TABLE users (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100),
    age INT
);
"""

# データ挿入
insert_sql = "INSERT INTO users (name, age) VALUES ('佐藤', 25);"

# データ検索
select_sql = "SELECT * FROM users;"

# データ更新
update_sql = "UPDATE users SET age = 26 WHERE name = '佐藤';"

# データ削除
delete_sql = "DELETE FROM users WHERE name = '佐藤';"

# 権限付与
grant_sql = "GRANT SELECT ON database_name.users TO 'username'@'localhost';"

# 権限剥奪
revoke_sql = "REVOKE SELECT ON database_name.users FROM 'username'@'localhost';"

# これらのSQLコマンドは、データベース管理ツールやプログラミング言語からデータベースに接続して実行することが可能です。
# PythonでMySQLデータベースに接続し、これらのコマンドを実行するには、適切なライブラリ（例：mysql-connector-python）を使用します。
```

このコードブロックは、データベース操作の基本的なSQLコマンドを示しています。実際にこれらのコマンドを実行する際は、使用してい

るデータベース管理システムやプログラミング環境に応じて、接続設定やライブラリの使用が必要になります。

# データベースの学習環境を構築しよう

- **phpMyAdminとは**
  - phpMyAdminはWebベースでデータベースを視覚的に操作できるツール。Google Chromeなどのブラウザからアクセスし、SQLを直接使わずにデータベースやテーブルの作成、データの操作が可能。

- **データベース環境の構築**
  - XAMPPまたはMAMPを使用してデータベース環境を構築。これらのツールにはphpMyAdminが含まれており、インストール後、ブラウザを通じてアクセス可能。
  - XAMPPはWindows、MAMPはMacユーザー向け。どちらもApacheサーバーとMySQLを起動させることで、ローカル環境でデータベースを操作できるようになる。

- **phpMyAdminでのデータベース作成**
  - phpMyAdminのインターフェースを通じて、新しいデータベースの作成が行える。照合順序は一般的に「utf8mb4_general_ci」を選択。
  - 作成したデータベース内でテーブルの作成も可能。テーブル作成時には、カラム名、データ型、その他オプションを指定。

>phpMyAdminっていうのは、データベースを簡単にいじれるツールだよ。Webブラウザから使えて、XAMPPやMAMPっていうソフトを使ってパソコンにセットアップするんだ。これがあれば、SQLを書かなくてもクリックだけでデータベースやテーブルを作れたりするから、めちゃくちゃ便利。WindowsユーザーはXAMPP、MacユーザーはMAMPを使うのが一般的。phpMyAdminで「新規作成」をポチッとするだけで、新しいデータベースを作ったり、テーブルを追加したりできるんだ。

# phpMyAdminでのデータベース作成

1. **phpMyAdminへのアクセス**  
   - XAMPPまたはMAMPが起動している状態で、phpMyAdminにアクセスします。XAMPPの場合は、コントロールパネルの「MySQL」セクションの「Admin」ボタンをクリック。MAMPの場合は、MAMPスタートページから「Tools」メニューの「phpMyAdmin」を選択します。

2. **データベースの新規作成**  
   - phpMyAdminのトップページで、「新規作成」をクリックします。データベース名を入力するフィールドが表示されるので、任意のデータベース名を入力します。照合順序は「utf8mb4_general_ci」を選択して、「作成」ボタンをクリックします。

### phpMyAdminでのテーブル作成

1. **データベースの選択**  
   - 作成したデータベースを左サイドバーから選択します。データベースを選択すると、そのデータベース内での操作が可能になります。

2. **テーブルの作成**  
   - 「名前」と「カラム数」を指定します。テーブル名を入力し、必要なカラム数（フィールド数）を指定したら、「実行」ボタンをクリックします。

3. **カラムの設定**  
   - 各カラム（フィールド）の名前、型、長さ/値、属性、デフォルト値、コラムコリメーション、属性、Null許容、インデックス、A_I（オートインクリメント）などの詳細を設定します。必要な情報を入力し、「保存」をクリックします。

### 注意点

- **照合順序の選択**  
   - 照合順序は、文字の比較やソート時に使用されるルールを定義します。「utf8mb4_general_ci」は、一般的に多言語対応のために推奨される照合順序です。

- **テーブル設定の重要性**  
   - テーブルを作成する際には、将来のデータ操作や検索を効率的に行えるよう、適切なデータ型やインデックスを設定することが重要です。

これらのステップに従って、phpMyAdminを使用してデータベースとテーブルを作成することができます。

### python例文

In [ ]:
# PythonでMySQLデータベースに接続し基本的な操作をする例

import mysql.connector

# データベース接続設定
config = {
    'user': 'root',
    'password': 'your_password',
    'host': 'localhost',
    'database': 'your_database',
    'raise_on_warnings': True,
}

# データベースに接続
db = mysql.connector.connect(**config)

# カーソルを作成
cursor = db.cursor()

# 新しいデータベースの作成
cursor.execute("CREATE DATABASE mydatabase CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci;")

# データベースを選択
cursor.execute("USE mydatabase;")

# 新しいテーブルの作成
cursor.execute("""
CREATE TABLE mytable (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255),
    email VARCHAR(255),
    age INT
);
""")

# データベース接続を閉じる
db.close()

>このコードは、MySQLデータベースに接続し、新しいデータベースとテーブルを作成する基本的なプロセスを示しています。実際にこれらの操作を行う前に、`your_password`と`your_database`を適切な値に書き換え、必要に応じてMySQLサーバーが稼働していることを確認してください。また、phpMyAdminでの操作をコードで実行する場合、GUIの視覚的なフィードバックは得られませんが、同様の結果を得ることができます。

# データ型の種類を理解しよう

- **データ型の重要性**
  - データベースに保管されるデータには様々な「型」があり、これを「データ型」と呼ぶ。データ型はデータの追加や取得時に非常に重要な概念であり、取り扱うデータに適した型を設定することが必要。

- **データ型の種類**
  - データ型には主に数値型、文字列型、日付型、論理型の4種類がある。これらの型は、テーブル作成時のカラム設定やデータ追加時に特定のデータ型のみを保管できるよう制限されている。

- **数値型**
  - 数値型には整数を扱う「int」や小数点を含む数値を扱う「float」がある。これらは金額や年齢、ユーザーIDなど数値情報の保管に用いられる。

- **文字列型**
  - 文字列型には可変長の文字列を保管する「varchar」や大量の文字を保管する「text」が含まれる。ユーザー名や住所などの文字情報の保管に適している。

- **日付型**
  - 日付型には「date」や「datetime」があり、それぞれ年月日のみ、または年月日と時刻の情報を保管できる。記事の公開日時やイベントの開催日時の保管に利用される。

- **論理型**
  - 論理型は「boolean」としても知られ、真偽値（TRUEまたはFALSE）を表す。記事の公開・非公開フラグなどの二択の状態を管理するのに用いられる。

>データベースに入れるデータには「型」っていうのがあって、これがデータ型だよ。データ型には、数字や文字、日付、そしてYESかNOみたいな真偽値を扱うためのものがあるんだ。例えば、お金の金額や人の年齢は数値型、名前やメールアドレスは文字列型、記事が投稿された日は日付型、何かがオンかオフかみたいなのは論理型で扱うんだよ。これらの型をちゃんと使い分けることが、データベースをうまく管理するコツだね。

### python例文
データベースのデータ型を理解するためのPythonコード例を示すことは、直接的ではありませんが、Pythonを使用してデータベースに接続し、異なるデータ型を持つテーブルを作成する基本的な例を提供することは可能です。

In [ ]:
# PythonでMySQLデータベースに接続し、異なるデータ型を持つテーブルを作成する例

import mysql.connector

# データベース接続設定
config = {
    'user': 'root',
    'password': 'your_password',
    'host': 'localhost',
    'database': 'your_database',
    'raise_on_warnings': True,
}

# データベースに接続
db = mysql.connector.connect(**config)

# カーソ

ルを作成
cursor = db.cursor()

# テーブル作成SQL
create_table_sql = """
CREATE TABLE sample_table (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100),
    email TEXT,
    age INT,
    registration_date DATE,
    last_login_datetime DATETIME,
    is_active BOOLEAN
);
"""

# テーブル作成を実行
cursor.execute(create_table_sql)

# データベース接続を閉じる
db.close()

>このコードは、異なるデータ型を持つテーブルを作成する方法を示しています。実際にこのスクリプトを実行する前に、`your_password`と`your_database`を適切な値に書き換える必要があります。また、このコードはMySQLデータベースを対象としていますが、使用しているデータベースに応じて適宜調整してください。

# SQLでデータベースとテーブルの操作


#### データベースやテーブルの作成：CREATE文の使用

- **データベース作成**  
  `CREATE DATABASE データベース名;`  
  このコマンドで新しいデータベースを作成します。データベース名は英小文字で記述。

- **テーブル作成**  
  `CREATE TABLE テーブル名 (カラム名 データ型, ...);`  
  テーブルを作成し、カラム名とデータ型を定義します。適切なデータ型を指定することで、保管するデータの性質を定めます。

#### データベースやテーブルの一覧表示：SHOW文の使用

- **データベース一覧の表示**  
  `SHOW DATABASES;`  
  システム上に存在するすべてのデータベースの一覧を表示します。

- **テーブル一覧の表示**  
  `SHOW TABLES;`  
  現在選択しているデータベース内のテーブル一覧を表示します。

#### データベースやテーブルの削除：DROP文の使用

- **データベースの削除**  
  `DROP DATABASE データベース名;`  
  指定したデータベースを削除します。この操作は取り返しのつかないため、慎重に実行する必要があります。

- **テーブルの削除**  
  `DROP TABLE テーブル名;`  
  指定したテーブルを削除します。データベースからテーブルを取り除くときに使用します。

#### 実践：phpMyAdminでの操作

- **CREATE文の実行**  
  phpMyAdminの「SQL」タブから、上述のCREATE文を入力してデータベースやテーブルを作成します。操作画面でSQL文を直接入力し、「実行」ボタンをクリックすることでコマンドが実行されます。

- **SHOW文による一覧表示**  
  同じく「SQL」タブからSHOW文を実行し、データベースやテーブルの一覧を確認します。

- **DROP文による削除操作**  
  不要になったデータベースやテーブルを安全に削除するために、DROP文を利用します。「SQL」タブからDROP文を入力し、削除を実行します。

### まとめ

この章では、データベースやテーブルを作成・取得・削除する基本的なSQLコマンド（CREATE、SHOW、DROP文）の使い方を学びました。phpMyAdminを用いることで、これらの操作を視覚的に簡単に行うことができます。次章では、データの取得や操作に関するさらなるSQLコマンドについて学習していきます。

# 課題：データベースとテーブルを作成し、データを取得・削除


- **データベースとテーブルの作成**
  - データベース「lesson5」を作成する。
  - 「products」テーブルを作成し、`id`, `name`, `brand`, `price`, `weight`といったカラムを含める。`id`は主キーとして設定。

- **データの取得と削除**
  - 作成したデータベースの一覧を取得する。
  - 「products」テーブルの一覧を取得する。
  - データベース「lesson5」を削除する。

- **キャプチャの取得**
  - 各ステップのコマンド実行と結果を「images」ディレクトリ内に保存し、ファイル名をステップに応じて命名する。

これは、データベースとテーブルの作成からデータの取得、そして削除までを学ぶ課題です。最初に「lesson5」という名前のデータベースを作り、「products」というテーブルを用意します。このテーブルには商品のID、名前、ブランド、価格、重量を記録します。その後、データベースとテーブルの一覧を見て、最終的に「lesson5」データベースを削除します。作業の進行は、各ステップごとにスクリーンショットを撮り、それを「images」フォルダに保存することで確認できます。

## SQL例文



```sql
# データベースとテーブルの作成
create_database = "CREATE DATABASE lesson5;"
create_table = """
CREATE TABLE products (
    id INT(11) NOT NULL AUTO_INCREMENT,
    name VARCHAR(256) NOT NULL,
    brand VARCHAR(256) NOT NULL,
    price INT(11) NOT NULL,
    weight INT(11),
    PRIMARY KEY (id)
);
"""

# データベースとテーブルの取得
show_databases = "SHOW DATABASES;"
show_tables = "SHOW TABLES;"

# データベースの削除
drop_database = "DROP DATABASE lesson5;"

# 各SQLコマンドは、対応するデータベース管理システム上で実行する必要があります。
# PythonのMySQLコネクタを使用してこれらのコマンドを実行することも可能です。
```


各コードブロックには、データベースやテーブルの作成、取得、削除を行うSQLコマンドが含まれています。これらのコマンドをPythonスクリプトやJupyter Notebook、Google Colab上でMySQLデータベースに接続して実行することで、課題の要件を満たすことができます。特に、`CREATE TABLE`文には`alt_text`の内容を反映させる形でテーブルの構造を定義しています。

# SQLでデータ操作：取得、追加、更新、削除


#### データ操作の準備：データベースとテーブルの再構築

- 再びデータベース`lesson`とテーブル`users`を作成します。前章で削除したこれらを、phpMyAdminで指定のSQL文を用いて再構築します。

```sql
CREATE DATABASE lesson;
```

```sql
CREATE TABLE IF NOT EXISTS users (
    id INT(11) NOT NULL AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(256) NOT NULL,
    furigana VARCHAR(256) NOT NULL,
    email VARCHAR(256) NOT NULL,
    age INT(11),
    address VARCHAR(256)
);
```

#### ダミーデータの追加：CSVファイルのインポート

- phpMyAdminを用いてCSVファイルからダミーデータをテーブル`users`に追加します。これにより、実際のデータ操作をより実践的に学習できます。

#### データの取得：SELECT文の使用

- テーブルから特定のデータを取得する基本的なSQLコマンドは`SELECT`文です。このコマンドを使い、必要なデータを取り出します。

```sql
SELECT name FROM users;
```

#### データの追加：INSERT文の使用

- 新しいデータをテーブルに追加するには`INSERT`文を使用します。このコマンドで新規データをテーブルに挿入できます。

```sql
INSERT INTO users (id, name, furigana, email, age, address) VALUES (31, '侍 太郎', 'さむらい たろう', 'samurai_taro@example.com', 36, '東京都');
```

#### データの更新：UPDATE文の使用

- テーブル内の既存のデータを更新するには`UPDATE`文を利用します。特定の条件を満たすデータの値を変更できます。

```sql
UPDATE users SET age = 37, address = '沖縄県' WHERE id = 31;
```

#### データの削除：DELETE文の使用

- テーブルから特定のデータを削除するには`DELETE`文を使います。不要になったデータを安全に削除できます。

```sql
DELETE FROM users WHERE id = 31;
```

#### テーブルのコメント追加：ALTER文の使用

- テーブルに関する追加情報をコメントとして記載するには`ALTER`文を使用します。これにより、他の開発者への情報伝達が容易になります。

```sql
ALTER TABLE users COMMENT 'ユーザー情報';
```

### まとめ

この章ではSQLの基本的なデータ操作コマンドを学習しました。これらのコマンドはデータベース管理において非常に重要であり、Web開発における様々なシナリオで使用されます。データの取得、追加、更新、削除はデータベース操作の基本であり、これらの技術をマスターすることは、効率的なデータ管理とアプリケーション開発に不可欠です。

# SQLで特定のデータ検索



#### 目標

- SQLを用いて特定のデータを検索する方法を学ぶ。
- `WHERE`句で使用可能な演算子について理解する。

#### `WHERE`句でのデータ検索

- `WHERE`句を用いてテーブル内の特定条件を満たすデータを検索する。

```sql
SELECT * FROM users WHERE address = '東京都';
```

#### 演算子の種類

- **比較演算子**と**論理演算子**があり、これらを使用してより詳細な検索条件を設定する。

##### 比較演算子

| 演算子 | 使用例 | 意味 |
|--------|--------|------|
| `=`    | `A = B` | AとBが等しい場合、TRUE |
| `!=`   | `A != B` | AとBが等しくない場合、TRUE |
| `<`    | `A < B` | AがBより小さい場合、TRUE |
| `<=`   | `A <= B` | AがB以下の場合、TRUE |
| `>`    | `A > B` | AがBより大きい場合、TRUE |
| `>=`   | `A >= B` | AがB以上の場合、TRUE |
| `IS NULL` | `A IS NULL` | AがNULLの場合、TRUE |
| `IS NOT NULL` | `A IS NOT NULL` | AがNULLでない場合、TRUE |

##### 論理演算子

| 演算子 | 使用例 | 意味 |
|--------|--------|------|
| `AND`  | `A AND B` | AとBが両方TRUEの場合、TRUE |
| `OR`   | `A OR B` | AまたはBのどちらかがTRUEの場合、TRUE |
| `NOT`  | `NOT A` | AがFALSEの場合、TRUE |

#### 演算子の使用例

- **比較演算子**を使用して年齢が30歳以下のレコードを検索。

```sql
SELECT * FROM users WHERE age <= 30;
```

- **論理演算子**を使用して年齢が30歳以上かつ住所が神奈川県のレコードを検索。

```sql
SELECT * FROM users WHERE age >= 30 AND address = '神奈川県';
```

### まとめ

この章では、SQLで特定の条件に合致するデータを検索する方法を学びました。`WHERE`句を用いて具体的な条件を設定し、比較演算子や論理演算子を活用することで、必要なデータを効率的に取り出すことが可能です。これらの知識は、アプリやサービス開発において重要なデータ操作の基礎となります。次章では、これらの概念をさらに応用し、複雑なデータ検索方法について学習していきます。

#SQLで特定のデータを検索しよう 2

#### 目標
- 複数条件の指定 (AND, OR演算子)
- 指定範囲のデータ抽出 (BETWEEN句)
- 複数値一致のデータ抽出 (IN句)
- あいまい検索 (LIKE句)

#### WHERE句の復習
```sql
-- データ取得
SELECT カラム名 FROM テーブル名 WHERE 条件式;
-- データ更新
UPDATE テーブル名 SET カラム名1 = 値1 WHERE 条件式;
-- データ削除
DELETE FROM テーブル名 WHERE 条件式;
```

#### 演算子の復習
- **比較演算子**: =, !=, <, <=, >, >=, IS NULL, IS NOT NULL
- **論理演算子**: AND, OR, NOT

#### ANDとOR演算子
- 複数条件の組み合わせに使用
```sql
-- 年齢が30歳以上かつ住所が神奈川県または大阪府
SELECT * FROM users WHERE age >= 30 AND (address = '神奈川県' OR address = '大阪府');
```

#### BETWEEN句
- 指定範囲のデータを抽出
```sql
-- 年齢が30歳以上40歳以下
SELECT * FROM users WHERE age BETWEEN 30 AND 40;
```

#### IN句
- 複数の値のうち一致するデータを抽出
```sql
-- 年齢が5, 15, 25, 35, 45, 55, 65, 75歳のユーザー
SELECT * FROM users WHERE age IN (5, 15, 25, 35, 45, 55, 65, 75);
```

#### LIKE句
- 文字列のあいまい検索
```sql
-- 氏名に「八」を含むユーザー
SELECT * FROM users WHERE name LIKE '%八%';
```

#### まとめ
- 複数条件の指定、範囲指定、複数値一致、あいまい検索をマスター
- ワイルドカード (`%`, `_`) を使って柔軟な検索条件を作成

次章では、SQLで取得するデータ数の上限を設定するLIMIT句について学びます。

# 課題: 複数の条件でデータを検索しよう

#### 目標
- SQLの基本構文とWHERE句を活用して特定のデータを検索
- 複雑な条件でデータ検索

#### 課題内容
- 複数条件のデータ検索実施
- データベース環境構築、基本SQL構文、特定データ検索法を活用

#### 作業手順
1. **環境準備**
   - `kadai_008`ディレクトリとその下の`images`ディレクトリを作成
   - 各ステップのコマンドと結果のスクリーンショットを`images`に保存

2. **データベースとテーブル作成**
   - `lesson`データベースと`users`テーブルを準備

3. **WHERE句でのデータ検索**
   - 年齢が50歳以下かつ住所が埼玉県のデータを検索

4. **IN句でのデータ検索**
   - 九州の7県に住むユーザーデータを検索

#### 合格基準
- SQLの基本構文とWHERE句を組み合わせた特定データ検索ができている
- WHERE句と演算子を組み合わせた複雑な条件でのデータ検索ができている
- 実行結果のスクリーンショットが添付されている

## 模範回答

##### Step3: WHERE句でのデータ検索
```sql
SELECT * FROM users WHERE age <= 50 AND address = '埼玉県';
```

##### Step4: IN句でのデータ検索
```sql
SELECT * FROM users WHERE address IN ('福岡県', '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県');
```

# SQLで取得するデータ数の上限を設定しよう

#### 目標
この章では、SQLクエリで取得するデータの数に上限を設定する方法について学びます。

#### LIMIT句で取得するデータ数の上限を設定しよう
データを表示する際に一定数に限定する必要がある場面では、SQLの`LIMIT`句を使用します。これにより、例えば1ページあたりに表示するデータの数を制御することができます。

##### LIMIT句の書き方
LIMIT句を用いたSQLクエリの基本形式は以下の通りです。

```sql
SELECT カラム名 FROM テーブル名 LIMIT 最大件数;
```

##### LIMIT句の使用例
最大10件のデータを取得するクエリ例です。

```sql
SELECT * FROM users LIMIT 10;
```

このクエリを実行すると、`users`テーブルから最大10件のデータが取得されます。これにより、データの取得件数を制限できます。

#### まとめ
この章では、データ取得時に`LIMIT`句を用いることで取得件数の上限を設定する方法を学びました。これにより、アプリケーションやサービスでユーザーに一度に表示する情報の量を制御することが可能になります。

次の章では、取得したデータの並び替えについて学んでいきます。これまでの学習を基に、さらにデータベース操作のスキルを深めていきましょう。

#SQLで取得するデータを並び替えよう

#### 目標
- SQLにおけるデータの並び替え方法を習得する。
- 複数カラム指定によるデータ並び替えを実践。
- WHERE句との組み合わせにより、特定のデータのみを並び替える技術を学ぶ。

#### ORDER BY句の基本
- SQLのORDER BY句を利用して、データを昇順（ASC）または降順（DESC）で並び替える。
- 昇順は数値の小さい順、文字列のアルファベット順（A→Z）、日時の古い順に並べる。
- 降順は数値の大きい順、文字列のアルファベット逆順（Z→A）、日時の新しい順に並べる。
- デフォルトは昇順（ASC）。

```sql
-- 昇順に並び替える例
SELECT * FROM users ORDER BY age ASC;
```

```sql
-- 降順に並び替える例
SELECT * FROM users ORDER BY age DESC;
```

#### 複数カラムによる並び替え
- ORDER BY句では、複数のカラムを指定して並び替えを行うことが可能。
- 複数カラム指定時は、指定した順番に従って優先的に並び替えが実施される。

```sql
-- 年齢の降順、ふりがなの昇順で並び替える例
SELECT * FROM users ORDER BY age DESC, furigana ASC;
```

#### WHERE句との組み合わせ
- ORDER BY句はWHERE句と組み合わせて使用することで、条件に合致する特定のデータのみを並び替えることができる。

```sql
-- 30歳以上のユーザーを年齢の昇順で並び替える例
SELECT * FROM users WHERE age >= 30 ORDER BY age ASC;
```

>SQLでは、ORDER BY句を使ってデータの並び替えができるんだ。昇順や降順で、数字や文字、日時の順番を整理できるよ。もし複数の項目で並び替えたいときは、カラムを複数指定して順番をつけられる。そして、特定のデータだけをピックアップして並び替えたい場合は、WHERE句と組み合わせるといいね。これで、例えば商品を価格順に並べたり、最新の投稿だけを上に表示したりすることが可能になるよ。

### 教材内の例文を全て網羅し、Colabで展開可能なPythonコード
この教材では、具体的なPythonコードは提示されていませんが、SQLの基本的な構文として、以下のSQL文が学習ポイントです。

- 昇順に並び替える基本構文
```sql
SELECT * FROM users ORDER BY age ASC;
```

- 降順に並び替える基本構文
```sql
SELECT * FROM users ORDER BY age DESC;
```

- 複数カラムを指定して並び替える構文
```sql
SELECT * FROM users ORDER BY age DESC, furigana ASC;
```

- WHERE句と組み合わせた並び替え
```sql
SELECT * FROM users WHERE age >= 30 ORDER BY age ASC;
```

これらのコマンドは、SQLを実行できる環境であれば、そのまま利用可能です。PythonやColabで直接実行するには、適切なデータベース接続ライブラリ（例：`sqlite3`, `pymysql`など）を使用し、これらのSQL文を実行する必要があります。

#[課題]取得したデータをグループ化しよう

#### 目標
- SQLを使用してデータのグループ化を実行できる能力の習得。

#### 課題内容
- 年齢別のユーザー数をグループ化し、特定の年齢（59歳）にデータを絞り込む。

#### 参考章
- 第3章: データベースの学習環境構築。
- 第11章: SQLの関数を使ったデータ集計。
- 第12章: データのグループ化。

#### 作業手順
1. ローカル環境に課題用ディレクトリ`kadai_012`と画像格納用の`images`ディレクトリを作成。
2. データベース`lesson`と`users`テーブルを準備（画像キャプチャ不要）。
3. `GROUP BY`句を用いて年齢別ユーザー数を集計し、`HAVING`句で年齢が59歳のデータに絞り込む。

#### 合格基準
- `COUNT`関数、`GROUP BY`句、`HAVING`句を組み合わせたデータ絞り込みの実行。
- 実行結果の画像キャプチャ添付。

#### 提出方法
- GitHubリポジトリ`sql-basic-kadai`に`kadai_012`ディレクトリをプッシュ。
- 提出物URLとして、GitHubのディレクトリURLを課題提出フォームに記入。
- 成果物のスクリーンショットを課題提出フォームに貼り付け。

。

## 模範回答

```sql
-- 年齢別ユーザー数の取得
SELECT age, COUNT(*) AS user_count FROM users GROUP BY age;

-- 年齢が59歳のユーザー数に絞り込む
SELECT age, COUNT(*) AS user_count FROM users GROUP BY age HAVING age = 59;
```

このSQL文は、まず全ユーザーを年齢別にグループ化し、各グループのユーザー数を計算します。続いて、年齢が59歳のユーザーグループのみに絞り込み、そのユーザー数を表示します

#SQLで複数のテーブルを結合しよう


#### 教材の要約

- **目標**: SQLでのテーブル結合方法の習得、テーブル結合の種類の理解。
- **内容**: 複数テーブルの結合方法、特に`JOIN`句の使用方法を詳述。
- **方法**:
  - **基本形式**: `SELECT カラム名 FROM テーブルA JOIN テーブルB ON 結合条件;`
  - **結合種類**:
    - `INNER JOIN`: 両テーブルで合致するレコードのみ結合。
    - `LEFT OUTER JOIN`: 左テーブルを基準に結合。
    - `RIGHT OUTER JOIN`: 右テーブルを基準に結合。
    - `FULL OUTER JOIN`: 両テーブルの全レコードを基準に結合（MySQLでは非対応）。
    - `CROSS JOIN`: 両テーブルのレコードを総当たりで結合。
  - **3テーブル以上の結合**: 複数の`JOIN`句を連鎖させて使用。

#### 補足

- **外部キー**: 他のテーブルにあるカラムを参照するカラム。データの整合性保持に役立つ。
- **結合順序**: `JOIN`句の順序によって、結果の表示順序や内容が変わる可能性があるため注意が必要。

>SQLで複数のテーブルをうまく結合させる方法を学びました。結合にはいくつかの種類があり、それぞれに特徴があります。基本は`JOIN`句を使って、必要に応じて`INNER JOIN`、`LEFT OUTER JOIN`、`RIGHT OUTER JOIN`、`CROSS JOIN`などを選択します。また、外部キーを使ってテーブル間の関連を設定することで、データの整合性を保ちながら効率的に情報を取り出すことが可能です。複数の`JOIN`句を組み合わせることで、3つ以上のテーブルも結合できますが、結合の順序に注意が必要です。

### 例文コード・コマンド

```sql
-- 内部結合: 社員テーブルと部署テーブルの結合例
SELECT * FROM employees INNER JOIN departments ON departments.id = employees.dep_id;

-- 左外部結合: 社員テーブルを基準に部署情報を取得
SELECT * FROM employees LEFT OUTER JOIN departments ON departments.id = employees.dep_id;

-- 右外部結合: 部署テーブルを基準に社員情報を取得
SELECT * FROM employees RIGHT OUTER JOIN departments ON departments.id = employees.dep_id;

-- 交差結合: 社員テーブルと部署テーブルの総当たり結合
SELECT * FROM employees CROSS JOIN departments;
```

各SQL文は、特定の結合条件下でテーブル間のデータを結合し、関連する情報を取得するためのものです。`INNER JOIN`は両テーブルに共通するデータのみを結合、`LEFT OUTER JOIN`と`RIGHT OUTER JOIN`は片方のテーブルを基準に結合、`CROSS JOIN`は両テーブルの全データを組み合わせる形で結合します。